<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <meta charset="UTF-8"> 
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Rednoize Radar v2.2</title>
    </head>
    <body>
        <div id="appname">Rednoize Radar v2.2</div>
        <div id="initialView" v-show="!hidePreloader || settsOpen">
            <div id="loader" v-show="!hidePreloader"></div>
            <div id="settings" style="display: none" v-show="settsOpen">
                <div>Server address:</div>
                <div><input v-model.trim="config.addr" placeholder=""></div>
                <div>Port:</div>
                <div><input type="number" v-model="config.port" placeholder="" maxlength="5" size="5" max="65535"></div><br/>
                <div>Object ID:</div>
                <div><input type="number" v-model="config.id" placeholder="" maxlength="2" size="2" max="254"></div><br/><br/>
                <button v-on:click="settsOpen = false; save(config); start(config)"> Start </button>
            </div>
        </div>
        <div id="workingView" style="display: none" v-show="started">
            <div id="errs">
                <li v-for="item in errs" v-on:click="errs.splice(0, errs.length)">
                    {{ item }}
                </li>
            </div>
            <div id="geo">
                <div v-if="geo.working">
                        <b>GPS works</b><br/>
                        - latitude: {{ geo.lat }} <br/>
                        - longitude:  {{ geo.lon }} <br/>
                        - speed:  {{ geo.spd }} <br/>
                        - accuracy: {{ geo.acc }}
                </div>
                <div v-else>
                        <b>GPS doesn't work</b><br/>
                        <span v-show="geo.error">- reason: {{ geo.error }} </span>
                </div>
            </div>
            <div id="status">
                <div v-if="net.connect">
                    <b>Connection is okay</b><br/>
                    - sent: {{ net.sent }}<br/>
                    - received: {{ net.received }}<br/>
                    - retransmissions: {{ net.retr }}<br/>
                    - ping: {{ net.ping }}<br/>
                    - observers: {{net.observers}}
                </div>
                <div v-else>
                        <b>Connection was interrupted</b><br/>
                        <span v-show="net.error">- reason: {{ net.error }}</span>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/utils.js"></script>
        <script type="text/javascript" src="js/location_observer.js"></script>
        <script type="text/javascript" src="js/network_sender.js"></script>
        <script type="text/javascript" src="js/status_updater.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
    </body>
</html>
